<% brewers = ForBrewer.order("position ASC")%>
<script src="http://github.com/vimeo/froogaloop/raw/master/froogaloop.min.js"></script> 
<script type="text/javascript">

	$('#modalBox #modalBoxCloseButton a.closeModalBox').html("BACK TO Main site <img src='/images/close.png' />");
	$('.image_slider.brewer .video_slide .text').hide();
	$('.image_slider.brewer .video_slide.active .text').fadeIn();
	
	var VimeoEmbed = {};	
	 //Called on document ready
    VimeoEmbed.init = function(e)
    {
        //Listen to the load event for all the iframes on the page
        $('iframe.brewer').each(function(index, iframe){
            iframe.addEvent('onLoad', VimeoEmbed.vimeo_player_loaded);
        });
    };
		//EVENT CALLBACKS
    /*
     * Called when the player finishes loading. The JavaScript API is only available
     * after this event fires.
     *
     * @param player_id (String): ID of the iframe which has finished loading.
     */
    VimeoEmbed.vimeo_player_loaded = function(player_id)
    {
        $('#'+player_id).prev('.api_output').append('VimeoEmbed.vimeo_player_loaded ' + player_id+'<br/>');

        var loop = 0;
        var volume = 100;

        //Simple Buttons
        $('#'+player_id).nextAll('button.simple').bind('click', {'player_id': player_id}, function(e){
            var iframe = $('#'+e.data.player_id).get(0);
            iframe.api( $(e.target).attr('id'), null );
        });
        
        //Getter buttons
        $('#'+player_id).nextAll('button.get').bind('click', {player_id: player_id}, function(e) {
            var iframe = $('#'+e.data.player_id).get(0),
                getMethod = $(e.target).attr('id');
            
            iframe.get(getMethod, function(val, player_id) {
                $('#'+player_id).prev('.api_output').html(getMethod+' '+val+'<br/>');
            });
        });

        //API EVENT LISTENERS
        VimeoEmbed.setupAPIEventListeners($('#'+player_id).get(0));
    };
    
    /**
     * Adds event listeners for Moogaloop events.
     */
    VimeoEmbed.setupAPIEventListeners = function(target)
    {
        target.addEvent( 'onPlay', VimeoEmbed.vimeo_on_play);
        target.addEvent( 'onPause', VimeoEmbed.vimeo_on_pause);
    };


    //API EVENTS
    VimeoEmbed.vimeo_on_play = function(player_id) {
        $('#'+player_id).prev('.api_output').html('Playing<br/>');
    };

    VimeoEmbed.vimeo_on_pause = function(player_id) {
        $('#'+player_id).prev('.api_output').html('Paused<br/>');
    };

$(document).ready(VimeoEmbed.init);
</script>
	<div class="brewer_titles">
		<ul>
			<% brewers.each_with_index do |brewer, i|%>
						<li><a href="#" class="<%= brewer.position %> brewer <% if i==0%> active<% end %>"><%= brewer.title %></a></li>
			<% end %>
		</ul>
	</div>
		<img src="/images/forBrewers.png" class="modal_image"  />
		<div class="image_slider brewer">
		<% brewers.each_with_index do |brewer, i|%>
		<% position = 550*i %>
		<script type="text/javascript">
		$(document).ready(function(){
			$('div.brewer_titles a.<%= brewer.position %>').click(function() {
			if (!$('.image_slider.brewer .<%= brewer.position %>').hasClass('active'))
			{
				$('.image_slider.brewer .video_slide.active .text').fadeOut();
				$('.image_slider.brewer div.video_slide').removeClass('active');
				$('div.brewer_titles a').removeClass('active');
				$('div.brewer_titles a.<%= brewer.position %>').addClass('active');
				$('.image_slider.brewer div.video_slide.<%= brewer.position %>').addClass('active');

				var position = <%= brewer.position %> * -550
				  $('.image_slider.brewer').animate({						
				    left: position
				  }, 1000	, function() {
						    // Animation complete.
								$('.image_slider.brewer .video_slide.active .text').fadeIn();
						  });
				}
				return false;
			});
		});
		</script>
		<div class="video_slide <%= brewer.position %> <% if i==0%> active<% end %>" style="left:<%= position %>px;">
			<iframe id="brewer<%= brewer.position %>" src="http://player.vimeo.com/video/19230946?js_api=1&amp;js_swf_id=brewer<%= brewer.position %>&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=ffc20e" width="525" height="294" frameborder="0"></iframe>
			<button class="simple" id="api_play">Play</button> 
      <button class="simple" id="api_pause">Pause</button>
			<div class="api_output"></div>
			<div class="text">
			<%=raw brewer.text %>
			</div>
		</div>
		<%end%>
	</div>
	<a class="portal" href="http://sp.adntx.com/">Visit Our Supplier Portal >></a>