<% brewers = ForBrewer.order("position ASC")%>
	<div class="brewer_titles">
		<ul>
			<% brewers.each_with_index do |brewer, i|%>
						<li><a href="#" id="api_pause" class="<%= brewer.position %> simple brewer <% if i==0%> active<% end %>"><%= brewer.title %></a></li>
			<% end %>
		</ul>
	</div>
		<img src="/images/forBrewers.png" class="modal_image"  />
		<a href="#" class="close">BACK TO Main site <img src='/images/close.png' /></a>
		<div class="image_slider brewer">
		<div class="invisible"></div>
		<% brewers.each_with_index do |brewer, i|%>
		<% position = 550*i %>
		<script type="text/javascript">
		$(document).ready(function(){
			$('div.brewer_titles a.<%= brewer.position %>').click(function() {
			if (!$('.image_slider.brewer .<%= brewer.position %>').hasClass('active'))
			{
				$('.image_slider.brewer .video_slide.active .text').fadeOut();
				$('.image_slider.brewer div.video_slide').removeClass('active');
				$('div.brewer_titles a').removeClass('active');
				$('div.brewer_titles a.<%= brewer.position %>').addClass('active');
				$('.image_slider.brewer div.video_slide.<%= brewer.position %>').addClass('active');

				var position = <%= brewer.position %> * -550
				  $('.image_slider.brewer').animate({						
				    left: position
				  }, 1000	, function() {
						    // Animation complete.
								$('.image_slider.brewer .video_slide.active .text').fadeIn();
						  });
				}
				return false;
			});
		});
		</script>
		<div class="video_slide <%= brewer.position %> <% if i==0%> active<% end %>" style="left:<%= position %>px;">
			<iframe id="brewer<%= brewer.position %>" class="brewer" src="<%= brewer.vimeo_url%>?js_api=1&amp;js_swf_id=brewer<%= brewer.position %>&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=ffc20e" width="525" height="296" frameborder="0"></iframe>
			<div class="text">
			<%=raw brewer.text %>
			</div>
		</div>
		<%end%>
	</div>
	<a class="portal" target="_blank" href="http://sp.adntx.com/">Visit Our Supplier Portal >></a>