<% brewers = ForBrewer.order("position ASC")%>

<script type="text/javascript">
	$('#modalBox #modalBoxCloseButton a.closeModalBox').html("BACK TO Main site <img src='/images/close.png' />");
	$('.image_slider.brewer .video_slide .text').hide();
	$('.image_slider.brewer .video_slide.active .text').fadeIn();
	VimeoEmbed.init();
</script>
	<div class="brewer_titles">
		<ul>
			<% brewers.each_with_index do |brewer, i|%>
						<li><a href="#" class="<%= brewer.position %> brewer <% if i==0%> active<% end %>"><%= brewer.title %></a></li>
			<% end %>
		</ul>
	</div>
		<img src="/images/forBrewers.png" class="modal_image"  />
		<div class="image_slider brewer">
		<% brewers.each_with_index do |brewer, i|%>
		<% position = 550*i %>
		<script type="text/javascript">
		$(document).ready(function(){
			$('div.brewer_titles a.<%= brewer.position %>').click(function() {
			if (!$('.image_slider.brewer .<%= brewer.position %>').hasClass('active'))
			{
				$('.image_slider.brewer .video_slide.active .text').fadeOut();
				$('.image_slider.brewer div.video_slide').removeClass('active');
				$('div.brewer_titles a').removeClass('active');
				$('div.brewer_titles a.<%= brewer.position %>').addClass('active');
				$('.image_slider.brewer div.video_slide.<%= brewer.position %>').addClass('active');

				var position = <%= brewer.position %> * -550
				  $('.image_slider.brewer').animate({						
				    left: position
				  }, 1000	, function() {
						    // Animation complete.
								$('.image_slider.brewer .video_slide.active .text').fadeIn();
						  });
				}
				return false;
			});
		});
		</script>
		<div class="video_slide <%= brewer.position %> <% if i==0%> active<% end %>" style="left:<%= position %>px;">
			<iframe id="brewer<%= brewer.position %>" src="http://player.vimeo.com/video/19230946?js_api=1&amp;js_swf_id=brewer<%= brewer.position %>&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=ffc20e" width="525" height="294" frameborder="0"></iframe>
			<button class="simple" id="api_play">Play</button> 
      <button class="simple" id="api_pause">Pause</button>
			<div class="api_output"></div>
			<div class="text">
			<%=raw brewer.text %>
			</div>
		</div>
		<%end%>
	</div>
	<a class="portal" href="http://sp.adntx.com/">Visit Our Supplier Portal >></a>