<% theme ||= false -%>
<head>
  <title><%= browser_title(yield(:title)) %></title>
  <link rel="shortcut icon" href="/favicon.png" />
  <link rel="apple-touch-icon" href="/andrews-appleTouch_115x115.png" />
  <meta charset='<%= Refinery::Application.config.encoding %>' />
  <%= csrf_meta_tag %>
  <%= render(:partial => '/shared/html5_for_ie.js').html_safe if request.env['HTTP_USER_AGENT'] =~ /MSIE/ %>
  <%= render :partial => 'shared/google_analytics' unless local_request? %>
  <%= stylesheet_link_tag "application", "formatting", :theme => theme %>
  <%= stylesheet_link_tag "theme" %>
  <%= stylesheet_link_tag "home", :theme => theme if home_page? %>
	<%= javascript_include_tag "jquery", "CreateHTML5Elements" %>
	<script type="text/javascript" src="/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<%= javascript_include_tag "jquery.validate.min", "additional-methods", "form", "froogaloop", "application" %>
  <link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
  <%= "<!--[if lte IE 8]>#{stylesheet_link_tag 'ie'}<![endif]-->".html_safe if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
  <%= "<!--[if IE 7]>#{stylesheet_link_tag 'ie7'}<![endif]-->".html_safe if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
  <%= "<meta name=\"keywords\" content=\"#{@meta.meta_keywords}\" />".html_safe if @meta.meta_keywords.present? %>
  <%= "<meta name=\"description\" content=\"#{@meta.meta_description}\" />".html_safe if @meta.meta_description.present? -%>
  <%= yield :head_libraries %>
  <%= yield :head %>
	<script type="text/javascript" src="http://use.typekit.com/pwf4moo.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
