<% content_for :body_content_left do %>
  <div class='inquiries'>
    <%=raw @page[Page.default_parts.first.to_sym] %>

    <%= form_for @inquiry do |f| %>
      <%= render :partial => "/shared/admin/error_messages",
                 :locals => {
                   :object => @inquiry,
                   :include_object_name => true
                 } %>
<table id="inquiries">
			<tr>
				<td style="width:100px"></td>
				<td><span class="yellow">*</span>Required</td>
				<td></td>
				<td></td>
			</tr>
      <tr>
        <td><%= f.required_label :name %></td>
        <td><%= f.text_field :name %></td>
        <td><%= f.required_label :last_name %></td>
        <td><%= f.text_field :last_name %></td>
      </tr>
      <tr>
        <td><%= f.required_label :email %></td>
        <td><%= f.text_field :email %></td>
        <td><%= f.required_label :phone %></td>
        <td><%= f.text_field :phone %></td>
      </tr>
      <tr>
				<td><%= f.label :company %></td>
        <td><%= f.text_field :company %></td>
        <td><%= f.label :title %></td>
        <td><%= f.text_field :title %></td>
      <tr>
      <tr>
				<td><%= f.label :site %></td>
        <td><%= f.text_field :site %></td>
				<td></td>
				<td></td>
      <tr>
      <tr>
        <td><%= f.required_label :message, "Reason For Contacting"  %></td>
        <td colspan="3"><%= f.text_area :message, :rows => 8 %></td>
      </tr>
      <tr>
				<td></td>
        <td><%= f.submit t('.send') %></td>
				<td></td>
				<td></td>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if RefinerySetting.find_or_set(:show_contact_privacy_link, false) %>
      </tr>
</table>
    <% end %>
  </div>
<% end %>
<%= render :partial => "/shared/content_page" %>
