<%
  insert_text = "<span id='no_resource_selected_2' class='nothing_selected' #{"style='display: none;'" if resource.present?}>
                   No resource is selected
                 </span>".html_safe
  insert_link = insert_admin_resources_url({
                  :dialog => true,
                  :update_resource => 'current_resource_2',
                  :update_text => 'current_resource_text_2',
                  :callback => "resource_changed_2",
                  :field => [f.object.class.name.underscore.downcase, field].join('_'),
                  :current_link => "#{resource.url if resource.present?}",
                  :height => 480
                })
              %>
<%= f.hidden_field field %>
<div>
  <%= link_to insert_text, insert_link,
              :name => t('.name'),
              :id => "current_resource_link_2"
  %>
  <div id='current_resource_container_2' <%= "style='display:none'" unless resource.present? %>>
    <span id='current_resource_tag_2'>Current Resource:</span>
    <span id='current_resource_text_2'>
      <%= "#{resource.title} (#{resource.file_name})" if resource.present? %>
    </span>
    <br/>
    <%= link_to "#{refinery_icon_tag("page_white_put.png")}
                 Download Current File
                 (<em>Opens up in a new window</em>)".html_safe,
                 "#{resource.url if resource.present?}",
                 :id => "current_resource_2",
                 :target => "_blank" %>
  </div>
  <br/>
  <%= link_to "Remove current File", "",
                :id => "remove_resource_2",
                :style => "#{"display:none;" unless resource.present?}" %>
</div>

<% content_for :head do %>
  <script type='text/javascript'>
    resource_changed_2 = function(callback_args) {
      $('#remove_resource_2').show();
      $('#current_resource_container_2').show();
      $('#no_resource_selected_2').hide();
      $('iframe#dialog_iframe').dialog("close");
      $('iframe#dialog_iframe').remove().parents(".ui-dialog").remove();
      $('#<%= f.object.class.name.underscore.downcase %>_<%= field %>').val(callback_args.id);
      $('#current_resource_link_2').attr('href', $('#current_resource_link').attr('href').replace(/current_link_2=([^&])*&/, "current_link_2=" + callback_args.href + "&"));
      $("#current_resource_2").attr('href', callback_args.href);
      $('#current_resource_text_2').html(callback_args.html);
    }

    $(document).ready(function(e) {
      $('#remove_resource_2').click(function(e) {
        $('#<%= f.object.class.name.underscore.downcase %>_<%= field %>').val("");
        $('#current_resource_container_2').hide();
        $('#current_resource_text_2').html('');
        $('#no_resource_selected_2').show();
        $('#current_resource_link_2').attr('href', $('#current_resource_link_2').attr('href').replace(/current_link_2=([^&])*&/, "current_link_2=&"));
        $(this).hide();
        e.preventDefault();
      });
    });
  </script>
<% end %>
