<!DOCTYPE html>
<html>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body class="<%= request.path.split('/').join(" ") %>">
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
	<div class="left_shadow"></div>
	<div class="right_shadow"></div>
    <div id='page_container'>
	<div class="banner"></div>
      <div id='page'>
        <div id='header'>
		  <% logo = Logo.first(:order =>"position ASC") %>
		  <div class="logo"><a href="/"><% if logo %><%= image_fu logo.image, "122x122"%><% end %></a></div>
          <%= render :partial => "/shared/header" %>
        </div>
		<div class="left_nav">
		<a href="javascript:void(0);" class="for_brewers"></a>
		<a href="javascript:void(0);" class="for_retailers"></a>
		<a href="/our-portfolio/destination-beer" class="about_beers"></a>
		<a href="#" class="whats_new"></a>
		</div>
        <div id='body' class='clearfix'>
		<div class="texas">
			<div class="border">
				<div class="title_image"></div>
				<div class="top_right_image"></div>
          		<%= yield %>
			</div>
        </div>
		</div>
      </div>
	<div id='footer'>
        	<%= render :partial => "/shared/footer" %>
      </div>
    </div>
<% brewers = ForBrewer.order("position ASC")%>
<% count = ForBrewer.count %>

		<div id="for_retailers" style="display:none">
		<div class="brewer_titles">
			<ul>
				<% brewers.each_with_index do |brewer, i|%>
							<li><a href="#" class="<%= brewer.id %> <% if i==0%> active<% end %>"><%= brewer.title %></a></li>
				<% end %>
			</ul>
		</div>
			<img src="/images/forRetailers.png"  />
			<div class="image_slider">
			<% brewers.each_with_index do |brewer, i|%>
			<% position = 525*i %>
			<script type="text/javascript">
			$(document).ready(function(){
				$('a.<%= brewer.id %>').click(function() {
					$('div.video_slide').removeClass('active');
					$('div.brewer_titles a').removeClass('active');
					$('.<%= brewer.id %>').addClass('active');
					
					var position = (<%= brewer.id %> -1) * -525
					  $('.image_slider').animate({						
					    left: position
					  }, 1000);

					return false;
				});
			});
			</script>
			<div class="video_slide <%= brewer.id %> <% if i==0%> active<% end %>" value="<%= position %>" style="left:<%= position %>px;">
				<video width="525" height="296" controls poster="<%= brewer.display_image.url %>">
					<source src="<%= brewer.m4v_file.url %>"  type="video/mp4" />
					<source src="https://s3.amazonaws.com/andrews_distributing/2011/01/22/15/31/32/316/CompanyHistory.ogg"  type="video/ogg" />
					<object width="525" height="296" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.5.swf">
						<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.5.swf" />
						<param name="flashvars" value="controlbar=over&amp;image=<%= brewer.display_image.url %>"
					</object>
				</video>
			</div>
			<%end%>
		</div>
		<div id="for_brewers" style="display:none">TESTING</div>
  </body>
</html>
