<!DOCTYPE html>
<html>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body class="<%= request.path.split('/').join(" ") %>">
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
	<div class="left_shadow"></div>
	<div class="right_shadow"></div>
    <div id='page_container'>
	<div class="banner"></div>
      <div id='page'>
        <div id='header'>
		  <% logo = Logo.first(:order =>"position ASC") %>
		  <div class="logo"><a href="/"><% if logo %><%= image_fu logo.image, "122x122"%><% end %></a></div>
          <%= render :partial => "/shared/header" %>
        </div>
		<div class="left_nav">
		<a href="javascript:void(0);" class="for_brewers"></a>
		<a href="javascript:void(0);" class="for_retailers"></a>
		<a href="/our-portfolio/destination-beer" class="about_beers"></a>
		<a href="#" class="whats_new"></a>
		</div>
        <div id='body' class='clearfix'>
		<div class="texas">
			<div class="border">
				<div class="title_image"></div>
				<div class="top_right_image"></div>
          		<%= yield %>
			</div>
        </div>
		</div>
      </div>
	<div id='footer'>
        	<%= render :partial => "/shared/footer" %>
      </div>
    </div>
<% brewers = ForBrewer.order("position ASC")%>

		<div id="for_brewers" style="display:none">
		<script type="text/javascript">
			$('#modalBox #modalBoxCloseButton a.closeModalBox').html("BACK TO Main site <img src='/fancybox/close.gif' />");
			$('.video_slide.active .text').fadeIn();
		</script>
			<div class="modal_titles">
				<ul>
					<% brewers.each_with_index do |brewer, i|%>
								<li><a href="#" class="<%= brewer.id %> <% if i==0%> active<% end %>"><%= brewer.title %></a></li>
					<% end %>
				</ul>
			</div>
				<img src="/images/forBrewers.png" class="modal_image"  />
				<div class="image_slider">
				<% brewers.each_with_index do |brewer, i|%>
				<% position = 525*i %>
				<script type="text/javascript">
				function playPause() {

       		var myVideo = document.getElementsByTagName('video')[0];

           myVideo.pause();
       }
				
				$(document).ready(function(){
					$('a.<%= brewer.id %>').click(function() {
					if (!$('.<%= brewer.id %>').hasClass('active'))
					{
						$('.video_slide.active .text').fadeOut();
						playPause();
						$('div.video_slide').removeClass('active');
						$('div.modal_titles a').removeClass('active');
						$('.<%= brewer.id %>').addClass('active');

						var position = (<%= brewer.id %> -1) * -525
						  $('.image_slider').animate({						
						    left: position
						  }, 1000	, function() {
								    // Animation complete.
										$('.video_slide.active .text').fadeIn();
								  });
						}
						return false;
					});
				});
				</script>
				<div class="video_slide <%= brewer.id %> <% if i==0%> active<% end %>" style="left:<%= position %>px;">
					<video width="525" height="296" controls <%if brewer.display_image %> poster="<%= brewer.display_image.url %>"<% end %> loop="false">
						<source src="<%= brewer.m4v_file.url %>"  type="video/mp4" />
						<source src="https://s3.amazonaws.com/andrews_distributing/2011/01/22/15/31/32/316/CompanyHistory.ogg"  type="video/ogg" />
						<object width="525" height="296" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.5.swf">
							<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.5.swf" />
							<param name="flashvars" value="controlbar=over&amp;image=<%= brewer.display_image.url %>"
						</object>
					</video>
					<div class="text">
					<%=raw brewer.text %>
					</div>
				</div>
				<%end%>
			</div>
			<a class="portal" href="http://cp.adntx.com/">Visit Our Supplier Portal >></a>
		</div>
		
<% retailers = ForRetailer.order("position ASC")%>
		<div id="for_retailers" style="display:none"><script type="text/javascript">
			$('#modalBox #modalBoxCloseButton a.closeModalBox').html("BACK TO Main site <img src='/fancybox/close.gif' />");
			$('.video_slide.active .text').fadeIn();
		</script>
			<div class="modal_titles">
				<ul>
					<% retailers.each_with_index do |retailer, i|%>
								<li><a href="#" class="<%= retailer.id %> <% if i==0%> active<% end %>"><%= retailer.title %></a></li>
					<% end %>
				</ul>
			</div>
				<img src="/images/forRetailers.png" class="modal_image"  />
				<div class="image_slider">
				<% retailers.each_with_index do |retailer, i|%>
				<% position = 525*i %>
				<script type="text/javascript">
				function playPause() {

       		var myVideo = document.getElementsByTagName('video')[0];

           myVideo.pause();
       }
				
				$(document).ready(function(){
					$('a.<%= retailer.id %>').click(function() {
					if (!$('.<%= retailer.id %>').hasClass('active'))
					{
						$('.video_slide.active .text').fadeOut();
						playPause();
						$('div.video_slide').removeClass('active');
						$('div.modal_titles a').removeClass('active');
						$('.<%= retailer.id %>').addClass('active');

						var position = (<%= retailer.id %> -1) * -525
						  $('.image_slider').animate({						
						    left: position
						  }, 1000	, function() {
								    // Animation complete.
										$('.video_slide.active .text').fadeIn();
								  });
						}
						return false;
					});
				});
				</script>
				<div class="video_slide <%= retailer.id %> <% if i==0%> active<% end %>" style="left:<%= position %>px;">
					<video width="525" height="296" controls <%if retailer.display_image %> poster="<%= retailer.display_image.url %>"<% end %> loop="false">
						<source src="<%= retailer.m4v_file.url %>"  type="video/mp4" />
						<source src="https://s3.amazonaws.com/andrews_distributing/2011/01/22/15/31/32/316/CompanyHistory.ogg"  type="video/ogg" />
						<object width="525" height="296" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.5.swf">
							<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.5.swf" />
							<param name="flashvars" value="controlbar=over&amp;image=<%= retailer.display_image.url %>"
						</object>
					</video>
					<div class="text">
					<%=raw retailer.text %>
					</div>
				</div>
				<%end%>
			</div>
			<a class="portal" href="http://sp.adntx.com/">Visit Our Customer Portal >></a>/div>
  </body>
</html>
